html {
    font-size: 62.5%; //1rem = 10px
    @media only screen and (max-width: 46.875rem){
        font-size: 50%;
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem !important;
}
 
.avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
}

#root{
  background: linear-gradient(to right bottom, #d1d1d1, #a7a7a7 );
  min-height: 100vh;
}